.logo {
  margin-top: 0.5%;
  height:70px;
  float: left;
  border-radius: 10px;
}
.navbar {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(90deg, #ffffff00, #dd6c74);
    background-image: linear-gradient(90deg, #ffffff00, #0000005d);
    border-image-slice: 1;
}
nav {
    text-align: end;
    padding: 0% 1%;
    height: 85px;
  }
  
  nav li {
    display: inline-block;
    text-decoration: 3px underline;
    text-decoration-color: #ffffff00;
    transition: text-decoration 1s;
    vertical-align: middle;
   }

  nav li:hover {
    text-decoration-color: #DD6C73;
  }

  nav a {
    text-decoration:none;
    color: white;
    font-weight:700;
    padding: 6px 10px;
    margin: 2px;
  }

  


@media (max-width: 900px) {
  nav li {display: none;}
  nav {padding: 0% 3%;}


  .hamburger-icon {
    float: right;
    margin-right: 2%;
    overflow: hidden;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #DD6C73;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-405deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(405deg);
  }

  
  .dropdown-container {
    transform: translateY(-200%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    display: inline-block;
  
    border-radius: 15px;
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;
    background-color: #DD6C73;
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);

  }

  .dropdown-option {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    display: block;
    font-weight: 100;
  }

  .dropdown-option:hover {
    font-weight:1000;
  }

  .reveal-dropdown {
    transform: translateY(0);
    position:fixed;
    top:0;

    display: inline-block;
    border-radius: 15px;
    width: 80%;
    margin-top: 12%;
    background-color: #DD6C73;
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 500px) {
  .reveal-dropdown {
    transform: translateY(0);
    position:fixed;
    top:0;

    display: inline-block;
    border-radius: 15px;
    width: 80%;
    margin-top: 20%;
    background-color: #DD6C73;
    border-radius: 15px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  }
}