body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  overflow-x:hidden;
  background-color: #F7F2F7;
}

h1, h2 {
  text-align: center;
  color: #314786;
}

h2 {
  font-size:24px;
  color: #003366;
  font-weight:bolder;
}

@media (min-width:1024px) {
  h2 { 
    font-size: 2.7vw;
  }
}

button {
  padding: 15px 20px 15px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: white;
  color: #DD6C73;
  font-weight: bold;
  border-radius: 120px;
  border-color: #DD6C73;
  border-width: 1px;
}
 
button:hover {
  background-color: #FCF2F3;
  
}

/* #root{
  height: 100vh;
  width: 100vw;
  background-color: #F7F2F7;
} */
#page-body {
  height: fit-content;
  background-color: white;
}

.pageTitle {
  margin-top: 125px;
  font-size:45px;
}
 

input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}



.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
